{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Services Start -->
    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="row g-4">
                {% for service in services %}
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <!-- Serve detail sahifasiga yo'naltirish -->
                            <a href="{% url 'service-detail' slug=service.slug %}">
                                <img src="{{ service.image }}" class="img-fluid rounded-top w-100" alt="{{ serve.title }}">
                            </a>
                        </div>
                        <div class="rounded-bottom p-4">
                            <!-- Serve detail sahifasiga yo'naltirish -->
                            <a href="{% url 'service-detail' slug=service.slug %}" class="h4 d-inline-block mb-4">{{ service.title }}</a>
                            <p class="mb-4">{{ service.description }}</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">{{ service.price }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services End -->

{% endblock %}
